<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Default_path" value ="C:\"/>
		<add key="Default_Language" value ="EN"/>
		<add key="Default_log_extension" value="json"/>
		<add key="Work_Process" value="LeagueClient"/>
		<add key="Files_same_time" value="5"/>
		<add key="Files_max_size" value="100"/>
		<add key="Network_max_use" value="0"/>
		<add key="Prio_Files" value=".txt"/>
	</appSettings>
</configuration>